@charset "utf-8";

@import "../core/init";
@import "../core/table";
@import "../core/buttons";
@import "../core/buttonGroups";

$color-list: (
  blue: #5b88cb,
  grey: #cccccc,
  yellow: #ffcb00,
  pink: #ff8d8d,
  dark: #000,
  white: #fff
);

body {
  > div {
    @extend .x-m-t-10;
  }
  @include make-background-color($color-list);
  @include make-font-color($color-list);
  @include make-botton-color($color-list);
  @include make-tr-color($color-list);
}

.btn {
  @include inline-size(10px, 20px, 1em);
}

.h-50 {
  height: 50px;
  background: #eee;
}

.test1 {
  span {
    @include size(20px);
  }
}

.testp {
  @include size(100%, 100px);
  .inner {
    @include size(20px);
    &.box-1 {
      @include posi(20px, 20px);
    }
    &.box-2 {
      @include posi(20px, null, null, 20px);
    }
    &.box-3 {
      @include posi(null, 20px, 20px, null);
    }
    &.box-4 {
      @include posi(null, null, 20px, 20px);
    }
  }
}

.text1 {
  @include ellipsis(1, 10%);
}

.text2 {
  @include ellipsis(2);
}

.l-height1 {
  @include l-height(50px);
}

.l-height2 {
  @include l-height(100px, 20px);
}
