@charset "utf-8";

.x-b-center {
    margin: 0 auto;
}

.x-t-r {
    text-align: right;
}

.x-t-c {
    text-align: center;
}

.x-f-l {
    float: left;
}

.x-f-r {
    float: right;
}

.x-p-a {
    position: absolute;
}

.x-p-r {
    position: relative;
}