
// normal
$font-size-base:                 14px !default;
$line-height-base:               1.428571429 !default; // 20/14
$border-radius-base:             4px !default;
$padding-base-vertical:          6px !default;
$padding-base-horizontal:        12px !default;

// buttons
$btn-default-color:              #000 !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             #ccc !default;
$btn-font-weight:                normal !default;
$btn-border-radius-base:         $border-radius-base !default;

// table
$table-cell-padding:             8px !default;
$table-border-color:             #ddd !default;
$table-condensed-cell-padding:   5px !default;
$table-bg-accent:                #f9f9f9 !default;
$table-bg-hover:                 #f5f5f5 !default;

// caret
$caret-width-base:               4px !default;
$caret-width-large:              5px !default;